@media(max-width: 1260px){
	.form{
		background-image: none;
	}
}
@media(max-width: 1170px){
	.news__inner{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.news__item-left{
		max-width: 100%;
		margin-bottom: 100px;
	}
	.news__slider{
		padding: 0 100px;
	}
	.news__item-center{
		max-width: 45%;
		margin: 0;
		text-align: center;
	}
	.news__item-right{
		max-width: 45%;
		text-align: center;
	}
	.news__item-center:before , .news__item-right:before{
		display: none;
	}
}
@media(max-width: 1160px){
	.services__inner{
		display: block;
	}
	.services__item{
		max-width: 80%;
		margin: 40px auto;
	}
}
@media(max-width: 1000px){
	.experience__inner{
		display: block;
	}
	.experience__item{
		max-width: 80%;
		margin: 0 auto 70px;
	}
	.experience__box{
		margin: 20px auto;
	}
	.information__right iframe{
		width: 500px;
		height: 280px;
	}
	.news{
		padding-bottom: 0;
	}
}
@media(max-width: 940px){
	.news__slider{
		padding: 0 30px;
	}
}
@media(max-width: 900px){
	.slider .slick-btn{
		display: none !important;
	}
	.services__top{
		display: block;
		text-align: center;
		padding: 0;
	}
	.services__name{
		max-width: 100%;
		padding: 0 30px 40px 30px;
	}
	.services__top:before{
		display: none;
	}
	.form__top:before{
		display: none;
	}
	.form__top{
		display: block;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.form__top .services__name{
		padding-bottom: 0;
	}
	.information__right iframe{
		width: 400px;
		height: 220px;	
	}
}
@media(max-width: 850px){
	.form__menu{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	.form__menu input , .form__menu textarea{
		width: 100%;
	}
	.form-btn{
		bottom: -20px;
	}
	.form{
		padding-bottom: 50px;
	}
}
@media(max-width: 800px){
	.information__inner{
		display: block;
	}
	.information__left{
		max-width: 100%;
		margin-bottom: 40px;
		padding-left: 30px;
	}
	.information__right{
		text-align: center;
	}
	.information__right iframe{
		width: 100%;
	}
}
@media(max-width: 700px){
	.header__btn{
		float: none;
		display: block;
		padding-left: 30px;
	}
	.header__top{
		text-align: center;
	}
	.header__btn:before{
		display: none;
	}
	.menu ul{
		display: none;
		position: absolute;
		right: 0;
		left: 0;
		background-color: #ffc222;
		margin-top: 20px;
		z-index: 50;
	} 
	.menu li{
		display: block;
		text-align: center;
	}
	.menu a{
		display: block;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #fff;
		margin-left: 0;
	}
	.menu__btn{
		display: block;
	}
	.slider__item-text{
		font-size: 16px;
	}
	.slider__item-title{
		font-size: 24px;
	}
	.item__left-text{
		text-align: left;
	}
}
@media(max-width: 690px){
	.news__item-center{
		max-width: 100%;
		margin-bottom: 40px;
		padding: 0 40px;
	}
	.news__item-right{
		max-width: 100%;
		padding: 0 40px;
	}
}
@media(max-width: 537px){
	.news__item-left{
		padding: 0 20px 45px 30px;
	}
	.news__slider{
		padding: 0 10px;
	}
	.news__item-left{
		margin-bottom: 120px;
	}
}
@media(max-width: 450px){
	.slider__item-link{
		margin-bottom: 40px;
	}
	.services__item{
		max-width: 100%;
	}
	.news-prev{
		left: 54%;
	}
	.information__left{
		padding-left: 0;
	}
	footer{
		padding: 15px 20px;
	}
}
@media(max-width: 400px){
	.header__email{
		padding-right: 30px;
	}
	.services__link{
		display: block;
		margin-right: 0;
		max-width: 80px;
		margin: 30px auto;
	}
	.services__links{
		padding: 0;
	}
	.news__slider{
		padding: 0;
	}
}
@media(max-width: 380px){
	.news__item-center{
		padding: 0;
	}
	.news__item-right{
		padding: 0;
	}
	.services__name{
		padding: 0 0 40px;
	}
}
@media(max-width: 300px){
	.header__btn:before{
		display: block;
	}
}







@media(min-width: 701px){
	.menu ul{
		display: block !important;
	}
}
